<% if logged_in?(:site_admin) %>
  <div class="d-flex">
    <%= link_to fa_icon('file-text'), toggle_status_blog_path(blog), class: toggle_status_button(blog) %>
    <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog), class: 'btn-sm btn-secondary ml-auto'%>
    <%= link_to fa_icon('trash'), blog , method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-danger ml-2'%>
  </div>
<% end %>