<div class="col-sm-8 blog-main">
  <h2>Topic: <strong><%= @topic.title %></strong></h2>
  <hr>

  <div class="d-flex justify-content-center">
    <%= paginate @blogs %>
  </div>
  <div class="container">
    <%= render @blogs %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @blogs %>
  </div>

</div>
