  <div class="card">
   <%= image_tag portfolio.thumb_image %>
    <p class="card-text">
      <span><%= portfolio.title %></span>
      <%= link_to "",portfolio_show_path(portfolio), class: 'stretched-link' %>
    </p>
  </div>
