<div class="album text-muted">
  <div class="container">
   <%= link_to "+", new_portfolio_path, class: "btn-sm btn-success" if logged_in?(:site_admin) %>
    <h2 class="text-center">My Portfolio</h2>
    <div class="row <%= 'sortable' if logged_in?(:site_admin) %>">
      <%= render @portfolios %>
    </div>
  </div>
</div>
