<p id="notice"><%= notice %></p>

<%= link_to "Back", request.referer.present? ? request.referer : root_path %>
<%= link_to "Create new Portfolio", new_portfolio_path %>


<h1>Portfolio Items</h1>

<div>
  <ul>
    <%= render @portfolio_items %>
  </ul>
</div>