<div class="album text-muted">
  <div class="container">
    <%= source_helper('alert alert-primary') %>
    <%= link_to "+", new_portfolio_path, class: "btn-sm btn-success" if logged_in?(:site_admin) %>
    <div class="row <%= 'sortable' if logged_in?(:site_admin) %>">
      <%= render @portfolios %>
    </div>
  </div>
</div>
