<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Oray Kurt</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'span', 'nav-link' %>
      <%= login_helper "nav-link" %>
    </nav>
  </div>
</div>