<div class="blog-header mt-5">
  <div class="container">
    <h1 class="blog-title">Oray Kurt's Diary</h1>
    <p class="lead blog-description">You are on my notebook. I'm taking notes here</p>
  </div>
</div>
