<div class="inner cover">
  <h1 class="cover-heading">
    <span class="typed-home-header"></span>
  </h1>
  <p class="lead">
    <span class="typed-home"></span>
  </p>

  <p class="lead mt-2">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

